.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 14px sans-serif;
		stroke-width : 2px;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
	
iframe.center {
		display:block;
		margin: 0 auto;
	}
	
h1.center {
    margin-left: auto;
    margin-right: auto;
    width: 12em
}

.node p {
	font: 14px sans-serif;
	text-align: center;
}

#mainContainer {
	background-image: url("bg_bohurt.jpeg");
	background-size:100%;
	background-repeat: no-repeat
}